@import "../../../styles/themeStyles.module.scss";

.textContainer {
  @include container-spacing;

  h2 {
    color: $headline-color;
    font-size: $headline-size;
  }

  .htmlContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    
    p {
      color: $text-color;
      font-size: $text-size;
    }
  }
}
