@import "../../../styles/themeStyles.module.scss";

.textContainer {
  @include container-spacing;

  h2 {
    @include headline-styles;
  }

  .htmlContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;

    p {
      @include text-styles;
    }

    a {
      @include link-styles;
    }

  }
}
