@import "../../../styles/themeStyles.module.scss";

.textContainer {
  @include container-spacing;

  h2 {
    @include headline-styles;
  }

  .htmlContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 1024px;

    p {
      @include text-styles;
      line-height: 32px;
    }

    a {
      @include link-styles;
      line-height: 32px;
    }

    ul {
      list-style-position: inside;
      display: flex;
      flex-direction: column;
      gap: 16px;

      li::marker {
        color: $text-highlight;
      }
    }
  }
}
