@import "../../../styles/themeStyles.module.scss";

.tableContainer {
  @include container-spacing;

  h2 {
    @include headline-styles;
  }

  .table {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .tableRow {
      display: flex;
      justify-content: space-between;

      .seniorityColumn {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .columnTitle {
          @include text-styles;
          text-transform: uppercase;
        }

        .columnFigure {
          @include text-styles;
          color: $headline-color;
        }
      }

      .rateColumn {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .columnTitle {
          @include text-styles;
          text-transform: uppercase;
        }

        .columnFigure {
          @include text-styles;
          color: $headline-color;
        }
      }
    }
  }

  .htmlContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;

    p {
      @include text-styles;
    }

    a {
      @include link-styles;
    }
  }
}
