@import "../../../styles/themeStyles.module.scss";

.separatorContainer {
  @include container-spacing;

  hr {
    border: 0.5px solid $headline-color;
    margin-left: 16px;
    margin-right: 16px;
  }
}
