@import "../../../styles/themeStyles.module.scss";

.threeColumnsTableContainer {
  @include container-spacing;

  h2 {
    @include headline-styles;
  }

  .htmlContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;

    p {
      @include text-styles;
      line-height: 32px;
      max-width: 1024px;
    }

    a {
      @include link-styles;
      line-height: 32px;
    }

    ul {
      list-style-position: inside;
      display: flex;
      flex-direction: column;
      gap: 16px;

      li::marker {
        color: $text-highlight;
      }
    }
  }

  .tableContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .columnTitlesContainer {
      display: none;
    }

    .columnRowsContainer {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .columnRowCell {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .columnRowTitle {
        @include text-styles;
        font-weight: bold;
        text-transform: uppercase;
      }

      .columnRowValue {
        @include text-styles;
        color: $headline-color;
      }
    }

    .row0 {
      .columnRowTitle {
        display: none;
      }

      .columnRowValue {
        font-variant: small-caps;
        text-transform: lowercase;
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .threeColumnsTableContainer {
    .tableContainer {
      flex-direction: row;
      gap: normal;
      border: 1px solid $headline-color;
      border-bottom: none;
      width: max-content;

      .columnTitlesContainer {
        display: flex;
        flex-direction: column;
        gap: normal;

        .columnTitleCell {
          display: flex;
          align-items: center;
          padding: 8px 16px;
          border-bottom: 1px solid $headline-color;

          .columnTitleValue {
            @include text-styles;
            color: $headline-color;
          }

          min-height: 80px;
        }
        .row0 {
          .columnTitleValue {
            visibility: hidden;
          }
          min-height: 48px;
          background-color: rgb(238, 97, 35, 0.9);
        }
      }

      .columnRowsContainer {
        width: 25vw;
        gap: normal;
        border-left: 1px solid $headline-color;

        .columnRowCell {
          min-height: 80px;
          display: flex;
          align-items: center;
          flex-direction: row;
          padding: 8px 16px;
          border-bottom: 1px solid $headline-color;

          .columnRowTitle {
            display: none;
          }

          .columnRowValue {
            color: $text-color;
            font-weight: normal;
          }
        }

        .row0 {
          min-height: 48px;
          background-color: rgb(238, 97, 35, 0.9);

          .columnRowValue {
            font-variant: normal;
            text-transform: none;
            font-size: 16px;
            color: $background-color;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .threeColumnsTableContainer {
    .tableContainer {
      .columnTitlesContainer {
        .columnTitleCell {
          min-height: 48px;
        }
      }

      .columnRowsContainer {
        .columnRowCell {
          min-height: 48px;
        }
      }
    }
  }
}
